<main class="">
  <div class="">
    <a href="/" class="flex gap-x-4 font-bold"
      ><fa-icon [icon]="faArrowLeft"></fa-icon> Revenir en arrière</a
    >
    <button (click)="goBack()">goback</button>
  </div>
  <div aria-label="titre"><h1>Ajouter un livre</h1></div>
  <form [formGroup]="form" (ngSubmit)="addBook()">
    <div aria-label="inputs">
      <div aria-label="input">
        <label for="titre">Titre</label>
        <input
          type="text"
          name="titre"
          id="titre"
          formControlName="titre"
          required
        />
      </div>
      <div aria-label="input">
        <label for="auteur">Auteur</label>
        <input
          type="text"
          name="auteur"
          id="auteur"
          formControlName="auteur"
          required
        />
      </div>
      <div aria-label="input">
        <label for="description">Description</label>
        <input
          type="text"
          name="description"
          id="description"
          formControlName="description"
        />
      </div>
    </div>
    <div aria-label="button">
      <button type="submit">Ajouter le livre</button>
    </div>
  </form>
</main>
